body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    padding: 5px;
    background-color: #f4f4f4;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #151515;
    text-align: left;
    font-size: 35px;
}

.frase {
    color: #fff;
    text-align: left;
    font-size: 30px;
}

.titulop1, .titulop3 {
    text-align: center;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.1px;
}

.titulop4 {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.1px;
    color: #fff;
}

.titulop5 {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.1px;
    color: #fff;
}

.titulop6, .titulop7 {
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #fff;
}

.titulop7 {
    background-color: #6b3b6b;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h4 {
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

header {
    background-color: #6b3b6b;
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
}

.parte2 {
    background-color: #6b3b6b;
    color: #fff;
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
}

.parte3 {
    background-color: #151515;
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
}

.img2, .img1 {
    width: 52px;
    height: 50px;
    display: block;
    margin: auto;
    max-width: 100%;
}

main {
    margin: 2rem 0;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.services-container {
    display: flex;
    gap: 90px;
}

.todos-servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    justify-items: center; /* Centraliza os itens dentro das colunas do grid */
    margin: auto; /* Centraliza o grid dentro da seção */
}

.servico-item {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 280px; /* Define uma largura máxima menor */
    width: 100%; /* Garante que os itens preencham a coluna */
}

.servico-item h2 {
    font-size: 18px;
    margin-bottom: 1rem;
    white-space: nowrap;
    color: #151515;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1rem;
    color: #c71ee9;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 6px 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os itens */
}

nav ul li {
    display: inline;
    margin-right: 0; /* Remover margem extra */
}

nav ul li button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.wrapper {
    max-width: 760px;
    margin: 10px auto;
    background-color: #ddd;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.days-week {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.number-days {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.texto {
    text-align: center;
}

.days-week span {
    color: #6b3b6b;
    display: inline-block;
    width: 14.2%;
}

.number-days span {
    color: #151515;
    display: inline-block;
    width: 14.2%;
    margin: 8px 0;
}

.mes-anterior {
    opacity: 0.5;
}
.pag {
    background-color: #151515;
}